
@{
}
@model Book
<div class="col-6 text-center">
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-light p-1">
            <h2>@Model.Title</h2>
            <span class="badge bg-info" style="float:right;">
                <form method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="@Model.BookId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn ">Add</button>
                </form>
            </span>
        </div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Author</th>
                    <td>@Model.Author</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>@Model.Isbn</td>
                </tr>
                <tr>
                    <th>Publisher</th>
                    <td>@Model.Publisher</td>
                </tr>
                <tr>
                    <th>Classification</th>
                    <td>@Model.Classification</td>
                </tr>
                <tr>
                    <th>Cateogry</th>
                    <td>@Model.Category</td>
                </tr>
                <tr>
                    <th>Page Count</th>
                    <td>@Model.PageCount</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>$@Model.Price</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>