@{
}
@model ProjectViewModel

<div class="">
    <h1 class="text-center">All Books</h1>
    <br />
    <div class="row">
        @foreach (Book b in Model.Books)
        {
        <div class="col-6 text-center">
            <h2>@b.Title</h2>
            <br />
            
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Author</th>
                        <td>@b.Author</td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td>@b.Isbn</td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td>@b.Publisher</td>
                    </tr>
                    <tr>
                        <th>Classification</th>
                        <td>@b.Classification</td>
                    </tr>
                    <tr>
                        <th>Cateogry</th>
                        <td>@b.Category</td>
                    </tr>
                    <tr>
                        <th>Page Count</th>
                        <td>@b.PageCount</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>$@b.Price</td>
                    </tr>
                </tbody>
            </table>
            
            <br /><br />
        </div>
        }
    </div>
</div>

<div book-page="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>