@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookstoreRepository>

@*this page displays all the books with a Details, Edit, And Delete Buttons*@
@*UNIQUE BOOTSTRAP*@
<table class="table table-sm table-bordered table-hover">
    <thead class="">
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(BookData?.Count() > 0)
        {
            @foreach(Book b in BookData)
            {
        <tr>
            <td>@b.BookId</td>
            <td>@b.Title</td>
            <td>@b.Author</td>
            <td>
                <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
            </td>
            <td>
                <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
            </td>
            <td>
                <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No Books Found</td>
            </tr>
        }

    </tbody>
 </table>

@*button to add a new book*@ 
<NavLink class="btn btn-secondary" href="/admin/books/create">Add New Book</NavLink>
<br />

@code {
    public IBookstoreRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public async Task RemoveBook(Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }

    //urls for the Details and Edit functionality that build automattically with an ID
    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

 
}
